* {
  /*
    Property name
    Property description

    color:
  Description: The color CSS property sets the foreground color value of an element's text and text decorations, and sets the currentcolor value.
  example: color: hsl(30, 100%, 50%);

  background-color:
  Description: The background-color CSS property sets the background color of an element.
  example: background-color: brown;

  background-image:
  Description: The background-image CSS property sets one or more background images on an element.
  example: background-image: url("../../media/examples/lizard.png");

  linear-grakient: The linear-gradient() CSS function creates an image consisting of a progressive transition between two or more colors along a straight line. Its result is an object of the <gradient> data type, which is a special kind of <image>.
  example: background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

  radial-gradient: The radial-gradient() CSS function creates an image consisting of a progressive transition between two or more colors that radiate from an origin. Its shape may be a circle or an ellipse. The function's result is an object of the <gradient> data type, which is a special kind of <image>.
  example: background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);

  repeating-radial-gradient: The repeating-radial-gradient() CSS function creates an image consisting of repeating gradients that radiate from an origin. It is similar to radial-gradient() and takes the same arguments, but it repeats the color stops infinitely in all directions so as to cover its entire container, similar to repeating-linear-gradient() . The function's result is an object of the <gradient> data type, which is a special kind of <image>.
  example: background: repeating-radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);

  background-repeat:
  Description: The background-repeat CSS property sets how background images are repeated. A background image can be repeated along the horizontal and vertical axes, or not repeated at all.
  example: background-repeat: space repeat;

  background-position:
  Description: The background-position CSS property sets the initial position for each background image. The position is relative to the position layer set by background-origin.
  example: background-position: left;

  background-attachment:
  Description: The background-attachment CSS property sets whether a background image's position is fixed within the viewport, or scrolls with its containing block.
  example: background-attachment: local, scroll;

  background-clip:
  Description: The background-clip CSS property sets whether an element's background extends underneath its border box, padding box, or content box.
  example: background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  background-origin:
  Description: The background-origin CSS property sets the background's origin: from the border start, inside the border, or inside the padding.
  example: background-origin: border-box;
  background-repeat: no-repeat;

  background-size:
  Description: The background-size CSS property sets the size of the element's background image. The image can be left to its natural size, stretched, or constrained to fit the available space.
  example: background-size: contain;
  background-repeat: no-repeat;

  box-shadow:
  Description: The box-shadow CSS property adds shadow effects around an element's frame. You can set multiple effects separated by commas. A box shadow is described by X and Y offsets relative to the element, blur and spread radius, and color.
  example: box-shadow: 60px -16px teal;

  */
    /* Property example with a value */

  }
