
header {
  padding: 1rem 2rem;
  margin-block-end: 1rem;
}

h1 {
  padding:1rem;
  border:solid 1rem;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

td:first-child {
  padding-inline-end: 1rem;
}

td:nth-child(2) {
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}
td:nth-child(3) {
  padding-inline-start: 1rem;
}

tr:nth-child(1) span {
  border-block-end: solid 1rem;
}

tr:nth-child(2) span {
  border-block-start: solid 1rem;
  border-block-end: solid 1rem;
}

tr:nth-child(3) span {
  border-block-start: solid 1rem;
}

table {
  padding: 2rem 1rem;
}

body {
  margin: 1rem 0;
  padding: 1rem;
}

footer {
  padding: 1rem;
    margin-block-start: 1rem;
}

footer span {
  border: 1rem solid;
  display: block;
}
