@charset "UTF-8";

.example h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

section.example h1, section.example h2, section.example h3, section.example h4, section.example h5, section.example h6,
section.example p {
  margin-block-end: 1rem;
writing-mode: horizontal-tb;
}

section h2 {
  font-size: 2rem;
  font-weight: 700;
}

.example h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.example h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.example h5 {
  font-size: 1rem;
  font-weight: 700;
}

.example h6 {
  font-size: 1rem;
  font-weight: 700;
  font-variant-caps: small-caps;
}

.intro {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

section p:not([class]) {
  font-size: 1rem;
  font-weight:400;
}

small {
  font-size: 0.75rem;
  font-weight:400;
}

#section_sans_serif {
  font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
}

#section_serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#section_monospace{
  font-family: 'Courier New', Courier, monospace;
}

#section_fantasy {
  font-family: fantasy;
  background-color: skyblue;
}

#section_cursive {
  font-family: cursive;
  background-color: steelblue;
}
